body {
  background-color: #f9f9f9;
  background-size : cover;
  padding: 10px 10px 10px 10px;
  margin:auto;
}


footer {
  margin-top: 3%;
  font-family: "Montserrat SemiBold";
}

#logo {
  width : 20%;
  margin-left: 5%;
  margin-bottom: 1%;
}


#Phrase {
  color: #afafaf;
  font-family: "Montserrat SemiBold";
  font-size: large ;
  margin-left: 10%;
  margin-bottom: 2%;
}

#test {
  margin: 10px 100px 10px 10px;
  width : 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#prestxt {
  color: #23485f;
  text-align: center;

}

#prestxt1{
  color: #23485f;
  text-align: center;
}
