/* Importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  background-color: #f9f9f9;
  background-size : cover;
  padding: 10px 10px 10px 10px;
  margin:auto;
}


footer {
  vertical-align: text-bottom;
  font-family: "Montserrat";
}

#logo {
  width : 20%;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

#Phrase {
  color: #afafaf;
  font-family: "Montserrat";
  font-size: large ;
  margin-left: 10%;
  margin-bottom: 2%;
}

#roboCheck{
  border:1px solid #afafaf;
  padding:3% 2% 3% 1.5% ;
  margin:3% 35% 3% 40%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 10px;
}

#checkbox{
  transform: scale(2);
  padding: 10px;
  padding-right: 10px;
}

#checkboxText{
  padding-left: 10px;
  padding-right: 30px;
}

#test {
  margin: 10px 100px 10px 10px;
  width : 22%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#prestxt {
  color: #23485f;
  text-align: center;

}

#prestxt1{
  color: #23485f;
  text-align: center;
}

#MAQUINA{
  color:red;
  background-color: black;
  transition: all 10s;
}
