/* Importing Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  background-size : cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  width: 100%;
  font-family: "Montserrat";
  flex: 0 0 50px;
  margin-top: auto;
}

#logo {
  width : 20%;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 2%;
}

.Phrase {
  color: #afafaf;
  font-family: "Montserrat";
  font-size: large ;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.roboCheck{
  border:0.2px solid #afafaf;
  padding:2.2% 2% 2.2% 1.5% ;
  margin:7% 35% 3% 40%;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 5px;
}

.writeCap{
  width:20%; height:40%;
  margin:7% 35% 3% 40%;
  border:0.2px solid #afafaf;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 5px;
}

.checkbox{
  transform: scale(2);
  padding: 10px;
  padding-right: 10px;
}

.checkboxText{
  padding-left: 10px;
  padding-right: 30px;
}

.test {
  margin: 10px 100px 10px 10px;
  width : 22%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sectiod{
  display: block;
}


#prestxt {
  color: #5d5d5d;
  text-align: center;
  display: block;
}

#prestxt1{
  color: #5d5d5d;
  text-align: center;
  display: block;
}

#introducao{
  text-align: center;
  vertical-align: middle;
}

#boasvindas{
  font-family: "Montserrat";
  color:#5d5d5d;
}

.botao{
	box-sizing: border-box;
	margin: auto;
	top: 5px;
	display: block;
	text-decoration:none;
	color:#f9f9f9;
	background-color: #3FD4AD;
	padding: 0.5em;
	border-radius: 0.2em;
	width: fit-content;
	text-align: center;
}

.botao:hover{
	cursor: pointer;
	background-color: #f9f9f9;
	color:#3FD4AD;
}

.botao-pequeno{
	color:#303030;
	background-color: #3FD4AD;
	padding: 0.2em;
	width: fit-content;
	border-radius: 0.2em;
}

.botao-pequeno:hover{
	cursor: pointer;
	background-color: #f5f5f5;
	color: #f9f9f9;
	border: 1px solid #3b3c3d;
	border-radius: 0.2em;
}

.dicas-captcha1{
  font-family: "Montserrat";
  font-size: large ;
	color:#3FD4AD;
	width: fit-content;
	text-align: center;
}

#explicacao-flexbox{
  display: flex;
  align-content: space-between;
}

#mapeamento{
  display: flex;
  align-content: space-between;
}

#captex-flexbox{
  display: flex;
  }

#captcha2 #captcha{
  background-color: transparent;
  height: 5em;
  margin-left: 5%;
}

#captcha2 input{
  display: block;
}

#button{  
  margin:0 0 5% 5%; 
  width:20%;
  background-color: transparent;
  border: transparent;
}

.flex-div{
  text-align: center;
  display: flex;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-div input{
  margin: 5%;
}

#gridImagens{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  justify-content: space-around;
  justify-items: center;
  align-content: space-around;
  align-items: center;
}

#gridImagens img{
  margin-right: 1%;
  margin-bottom: 3%;
}


.selected{
  width: 120px;
  height: 120px;
  opacity: 60%;
}

#gridContainer{
  margin-left: 33%;
  margin-bottom: 3%;
  text-align: center;
  border:1px solid #afafaf;
  width: 420px;
  height: 600px;
  box-shadow: 5px 5px 5px #dbd9d9;
  border-radius: 10px;
}

#validarCaptchaButton{
  margin: 0 5% 5% 60%; 
  color:#f9f9f9; 
  background-color:#3FD4AD; 
  border:transparent;
}

#botaoValidarImagens{
  color: #3FD4AD;
  margin: 5%;
  margin-left: 80%;
  background-color: transparent;
  border: transparent;
}

#fim{
  color: #afafaf;
  font-family: "Montserrat";
  font-size: large ;
  margin-top: 2%;
  text-align: center;
}

.finaisCaptchasA{
  text-align: center;
  opacity: 0;
  transition: all 500ms;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}